*.h5 -delta
*.h5 -delta
*.zip -delta
*.tar -delta
*.zst -delta
*.npz -delta
*.pt  -delta
*.h5 -delta
*.zip -delta
*.tar -delta
*.zst -delta
*.npz -delta
*.pt  -delta
*.h5 -delta
*.zip -delta
*.tar -delta
*.zst -delta
*.npz -delta
*.pt -delta
